about-time==4.2.1
alive-progress==3.1.4
asgiref==3.6.0
beautifulsoup4==4.11.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.7
django-bootstrap-v5==1.0.11
django-ckeditor==6.5.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-js-asset==2.0.0
filelock==3.9.0
fonttools==4.41.1
grapheme==0.6.0
greenlet==2.0.2
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.2
mysqlclient==2.1.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.2.0
platformdirs==3.0.0
psycopg2==2.9.6
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.6
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4
SQLAlchemy==2.0.19
sqlparse==0.4.3
typing_extensions==4.7.1
tzdata==2022.7
urllib3==2.0.3
virtualenv==20.19.0
whitenoise==6.3.0
